<div style="margin: 15vh auto;
        align-items: center;
        display: flex;
        flex-direction: column;"
     *ngIf="authService.authState !== 'signedin'">
  <amplify-authenticator style="width: inherit" usernameAlias="email" initialAuthState="signin">
  </amplify-authenticator>
</div>
<div *ngIf="authService.authState === 'signedin' && authService.user">
  <p>Testing AuthService manageState function reactions</p>
  <p>{{authService.greeting}}</p>
  <p>{{authService.userData}}</p>
  <p>{{authService.userRole}}</p>
  <amplify-sign-out></amplify-sign-out>
</div>
<router-outlet *ngIf="authService.authState === 'signedin' && authService.user"></router-outlet>
